.score_game_panel_container {
  height: 100%;
  width: 40%;
  background-color: lightgrey;
}

.score_game_panel__header {
  height: 10%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.main_game_panel__body_header {
  height: 8%;
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: blue;

  p {
    display: block;
  }

}

.score_game_panel__body {
  max-height: 57%;
  width: 100%;
  overflow-y: scroll;
  background-color: whitesmoke;
}

.collected_item {
  width: 100%;
  height: 90px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: antiquewhite;

  .collected_item__icon {
    width: 50px;
    height: 50px;
    margin: 20px 0 20px 0;
    border: 1px solid black;
  }

  //p.collected_item__quantity {
  //  display: block;
  //}
  //
  //p.collected_item__score {
  //  display: block;
  //}
}

.score_game_panel__bonus {
  height: 10%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: lightslategray;
}

.score_game_panel__resume_game {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  box-sizing: border-box;

  .new_game_btn {
    padding: 15px;
    margin-left: 20px;
    box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  }

}


